@use '../custom' as *;
@use '../components/mixins' as *;

.footer {
    background: #151414;
    
    a{
        text-decoration: none;
    }

    &-contact {
        a {
            font-size: 1.2rem;
        }
        p {
            color: $light;
        }
        i { 
            color: $primary;
            font-size: 3.3rem;
        }
    }
    &-social {
        background: #212121;
        i {
            color: $white;
            margin-left: 0.8rem;
            font-size: 2rem;
        }
        i:hover {
            color: $primary;
        }
    }

    &-links {
        a {
            display: block;
            color:$white;
        }

        a:hover {
            color:$primary;
        }
    }
    &-last{
        background: $black;
    }
}



