
@use '../custom' as *;
@use '../components/mixins' as *;

.hr {
    height: 3rem;
}

.testimonials {
    position:relative;
    padding:0;
    color: $white;
    @include gradient;

    &-card {
        background-color: rgba($white,0.8);
        padding: 2rem 1.5rem 5rem 1.5rem;
        border-radius: 1rem;
        color: $black;

        i {
            font-size: 1.5rem;
            color: rgba($primary,0.7)
        }
    }

    &-photo {
        width: 7rem;
        height: 7rem;
        position:absolute;
        left: 50%;
        transform: translate(-50%,-50%);

        img {
            border: 0.3rem solid rgba($color3,0.9)
        }
    }

    &-name {
        padding-top: 4rem;
        
    }
}
