@use '../custom' as *;

.tools_box {
    img {
        width: 10rem;
        height: 10rem;
        padding: 1rem;
    }
}

.gradient-text {
    background-image: linear-gradient(to right, $primary, $secondary);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}