@use '../custom' as *;
@use '../components/mixins' as *;

.display-2 {
    margin-bottom: 1rem;
    @include font-poppins;

    &--intro {
        display: inline-block;
        font-weight: 700;
    }
    &--description {
        font-size:1.5rem;
        display: block;
        margin-top: 1.2rem;
    }
}

.heading-line::before {
    display: block;
    content: "";
    width: 25rem;
    height: 0.4rem;
    background-color: $primary;
    margin: 0 auto;
}
.heading-line::after {
    display: block;
    content: "";
    width: 10rem;
    height: 0.5rem;
    background-color: $primary;
    margin: 0 auto;
}

.display-4 {
    @include font-poppins;
}
